*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Header top */
.container {
    max-width: 100%;
    margin:  25px;
    height: 50px;
   
}
.flex {
    display: flex;
}
.button{
    text-decoration: none;
    border: solid 1px #0061ff;
    background-color: #0061ff;
    color: white;
    padding: 5px 12px;
    margin-left: 25px;
}
.position{
    justify-content: flex-start;
    align-items: center;
}

.a-f{
    text-decoration: none;
    color: black;
    margin-left: 25px;
}

.a-fS {
    text-decoration: none;
    color: black;
    margin-left: 770px;
}
/*Header Bottom */
.Bottom{
    background-color: #b4d0e7;
    height: 720px;
    width: 100%;
}
.section ,.section2,
.section3,.section4 {
    width: 80%;
    margin: 0 auto;
}
.start{
    max-width: 80%;
    text-align: center;
}

.img-jumbo{
    max-width: 100%;
    max-width: 800px;
}
.flex-property {
    display: flex;
    flex-wrap: wrap;
}
.section {
    padding: 150px;
    
    
}
.perc25{
    width: 25%;
}

.perc30 {
    width: 30%;
}

.perc50 {
    width: 50%;
}

.perc55 {
    width: 55%;
}

.button2{
    text-decoration: none;
    color: white;
    background-color: #0061ff;
    border: 1px #0061ff;
    padding: 5px 12px;
}
.buttonS {
    text-decoration: none;
    color: white;
    background-color: #0061ff;
    border: 1px #0061ff;
    padding: 7px 65px;
}
.arrows{
    font-size: 2rem;
}
.h1{
    font-size: 3rem;
    margin-bottom: 20px;
}
/*Main */
.h2{
    margin-top: 180px;
    margin-left: 175px;
    margin-bottom: 50px;
}
.circle{
    margin-left: 175px;
}
.my-row{
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}
.column{
  width: 33%;
  background-color:white;
  margin: 40px;
  color: black;
  border: 1px solid black;
  padding: 15px;
  
}
.p-1{
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}
.colorspan{
    color: grey;
}
.spanmargin{
    
    margin-bottom: 5px;
}
.spanmarginS {
   
    margin-bottom: 5px;
  
}
.h3{
    
    margin-top: 20px;
    margin-bottom: 20px;
}
.button2{
    text-decoration: none;
    border: solid 1px #0061ff;
    background-color: #0061ff;
    color: white;
    padding: 5px 12px;
    
}
.p-2{
    margin-top: 30px;
}
.big-column {
    width: 75%;
    background-color: white;
    margin: 50px;
    margin-left: 170px;
    color: black;
    border: 1px solid black;
    padding: 15px;
}
.position2{
    position: relative;
}
.position3{
    position: absolute;
    top: 60px;
    right: 5px;
}
.img-partner{
    display: inline;
    max-width: 80%;
    margin-left: 170px;
    margin-top: 100px;
}
.flex-property {
    display: flex;
    flex-wrap: wrap;
}
.h3-new{
    margin-left: 90px;
    margin-top: 150px;
    font-size: 1.8rem;
}
.p-new {
    margin-left: 90px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.button3{
    text-decoration: none;
    
    margin-left: 90px;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
}
.strong{
    font-size: 2.7rem;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 170px;
}
.image{
    max-width: 65%;
}
.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 170px;
}
.features >*{
 width: 30%;
}

.p-3{
    font-size: 0.9rem;
}
.section5{
    width: 80%;
    margin: 0 auto;
}
.Title{
    font-size: 2rem;
    text-align: start;
    margin-top: 200px;
    margin-left: 170px;
    margin-bottom: 80px;
}
.a{
    font-size: 1.2rem;
    margin-left: 170px;
    
}
.section6{
    width: 100%;
    margin: 0 auto;
}
.square-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
}
.square{
     width: calc(100% / 3);
     height: calc(100vw / 3);
     display: flex;
     flex-wrap: wrap;
}
.square2 {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    
}
.square3 {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}
.square4 {
    width: 100%;
    height: 350px;
    background-color: #b4d0e7;
}
.mini-square{
    width: calc(100% / 2);
    height: calc(100% / 2);
}
.red{
    background-color: red;
}
.verde-acqua{
    background-color: #a2d39b;
}
.granata{
    background-color: #61082b;
}
.napoli{
    background-color: #0093ce;
}
.simil-white{
    background-color: #f5f5f5;
}
.simil-red{
    background-color: #d5001f;
}
.simil-azzurro{
    background-color: #b4d0e7;
}
.blue{
    background-color: #0d2481;
}
.yellow{
    background-color: #ffd830;
}
.image2 {
    max-width: 40%;
}
.image-square{
    max-width: 70%;
    filter: invert(1);
    
}
.margin-square{
    padding: 50px;
}
.margin-square2 {
    padding-top: 100px;
    padding-left: 60px;
}
.margin-square3 {
    padding-top: 130px;
    padding-left: 60px;
}
.HR{
    max-width: 20%;
}
.H2{
    color: #61082b;
    font-size: 2rem;
    margin-left: 333px;
    margin-top: 150px;
    
}
.buttonFinal {
    text-decoration: none;
    margin-left: 1100px;
    color: black;
    border: 1px solid white;
    padding: 10px 20px;
}
/*Footer */
.Foot{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    
    background-color: black;
    color: white;
    
}
.Ul-li{
    margin-top: 80px;
    margin-bottom: 200px;

}